*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "helvetica", sans-serif;
  color: #4d4d4d;
  background: #fff;
  text-align: center; }

a {
  color: #454d5d;
  text-decoration: underline; }
  a::active, a::focus, a::hover {
    color: #212529;
    text-decoration: underline; }

ul {
  list-style-type: none; }

nav ul {
  list-style: none;
  padding: 0; }

img {
  border-style: none;
  vertical-align: middle; }

i {
  width: 4.5rem; }

button {
  border: 0; }

blockquote,
img,
input,
textarea {
  max-width: 100%; }

label {
  display: inline-block;
  cursor: pointer; }

h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #f3976c;
  z-index: 2; }

h2 {
  margin-top: 6rem;
  margin-bottom: 2rem; }

h3 {
  font-size: 2rem; }

.btn {
  position: relative;
  margin: 3rem auto 6rem;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  background: linear-gradient(to bottom, #f3976c, #f3976c);
  box-shadow: 3rem 3rem 12rem gray;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  z-index: 1; }
  .btn a {
    text-decoration: none;
    color: #fff; }
  .btn a:hover {
    color: #fff; }
  .btn:hover::after {
    opacity: 1;
    border-radius: 4rem; }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ef763d;
    box-shadow: 3rem 3rem 6rem #404040;
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
    border-radius: 4rem; }

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #4d4d4d;
  overflow: hidden; }
  .banner::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
    background-image: url(../img/travail-avec-surligneur.webp);
    background-size: cover; }
  .banner img {
    margin-top: 6rem;
    margin-bottom: 2rem;
    z-index: 2;
    opacity: 0.9; }

.cta {
  height: 42rem;
  background-image: url(../img/travail-avec-surligneur.webp); }

footer {
  padding: 6rem;
  line-height: 6rem;
  color: #fff;
  background-color: #f18654; }
  footer a {
    color: #fff; }

.footer {
  position: relative;
  top: -12rem; }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto; }
  .footer .icon-md {
    font-size: 3rem; }

.header {
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .header__logo {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    line-height: 9rem; }
  @media (min-width: 600px) {
    .header {
      justify-content: space-between; } }

ul {
  display: flex; }
  ul li {
    display: inline-block; }
    ul li a {
      display: block;
      padding: 2rem;
      font-size: 2rem;
      text-decoration: none; }
      ul li a:active, ul li a:hover {
        margin-top: -3px;
        text-decoration: none;
        border-top: 3px solid #f3976c; }

.highlight {
  height: 54rem;
  background-image: url(../img/travail-de-bureau.webp); }
  .highlight__wrapper {
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto; }

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto; }
  .portfolio__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .portfolio .cards {
    position: relative;
    max-width: 32.1rem;
    margin: 6rem auto;
    border-radius: 2rem;
    box-shadow: 0.275rem 0.55rem 0.55rem #e6e6e6; }
    .portfolio .cards img {
      border-radius: 2rem 2rem 0 0; }
    .portfolio .cards h3 {
      line-height: 6rem;
      text-transform: uppercase; }
    .portfolio .cards p {
      padding: 2rem;
      line-height: 3rem; }
    .portfolio .cards-wrapper {
      height: 36rem; }
    .portfolio .cards .icon-lg {
      font-size: 6rem; }

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 96rem;
  min-width: 18rem;
  margin-left: auto;
  margin-right: auto; }
  .services__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .services__wrapper .cards {
      position: relative;
      max-width: 32.1rem;
      margin: 6rem auto;
      border-radius: 2rem;
      max-width: 27rem;
      padding-top: 6rem; }
      .services__wrapper .cards img {
        border-radius: 2rem 2rem 0 0; }
      .services__wrapper .cards h3 {
        line-height: 6rem;
        text-transform: uppercase; }
      .services__wrapper .cards p {
        padding: 2rem;
        line-height: 3rem; }
      .services__wrapper .cards-wrapper {
        height: 36rem; }
      .services__wrapper .cards .icon-lg {
        font-size: 6rem; }

/*# sourceMappingURL=style.css.map */
