@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "helvetica", sans-serif;
  color: #4d4d4d;
  background: #fff;
  text-align: center; }

img {
  border-style: none;
  vertical-align: middle; }

i {
  width: 4.5rem; }

button {
  border: 0; }

blockquote,
img,
input,
textarea {
  max-width: 100%; }

label {
  display: inline-block;
  cursor: pointer; }

h1 {
  font-size: 4.2rem;
  font-weight: 600;
  color: #f3976c;
  z-index: 2; }

h2 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 400; }
  @media screen and (min-width: 600px) {
    h2 {
      font-size: 3rem; } }

h3 {
  font-size: 2rem; }

a {
  color: #1e2642; }

ul {
  list-style-type: none; }

nav ul {
  list-style: none;
  padding: 0; }

.btn {
  position: relative;
  margin: 3rem auto 6rem;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  background: #f3976c;
  box-shadow: 3rem 3rem 12rem gray;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  z-index: 1; }
  .btn a {
    text-decoration: none;
    color: #1e2642; }
  .btn a:hover {
    color: #364577; }
  .btn:hover::after {
    opacity: 1;
    border-radius: 4rem; }
  .btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ed6525;
    box-shadow: 3rem 3rem 6rem #404040;
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
    border-radius: 4rem; }

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #1a1a1a;
  overflow: hidden; }
  .banner::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
    background-image: url(../img/travail-avec-surligneur-480w.webp);
    background-size: cover;
    background-attachment: fixed; }
    @media screen and (min-width: 480px) {
      .banner::before {
        background-image: url(../img/travail-avec-surligneur-768w.webp); } }
    @media screen and (min-width: 768px) {
      .banner::before {
        background-image: url(../img/travail-avec-surligneur-1024w.webp); } }
    @media screen and (min-width: 1024px) {
      .banner::before {
        background-image: url(../img/travail-avec-surligneur.webp); } }
  .banner img {
    margin-top: 6rem;
    margin-bottom: 2rem;
    z-index: 2;
    opacity: 0.9; }

.cta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(../img/travail-avec-surligneur-480w.webp);
  background-size: cover; }
  @media screen and (min-width: 480px) {
    .cta {
      background-image: url(../img/travail-avec-surligneur-768w.webp); } }
  @media screen and (min-width: 768px) {
    .cta {
      background-image: url(../img/travail-avec-surligneur-1024w.webp); } }
  @media screen and (min-width: 1024px) {
    .cta {
      background-image: url(../img/travail-avec-surligneur.webp); } }
  .cta h2 {
    color: #f3976c;
    background: #1a1a1a;
    opacity: 0.7; }

.footer {
  padding: 6rem;
  line-height: 6rem;
  color: #1a1a1a;
  background-color: #f3976c; }
  .footer h2 {
    margin: 0;
    font-size: 3rem; }
  .footer address {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 4rem; }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 42rem;
    margin: 3rem auto; }
  .footer .icon-md {
    font-size: 3rem;
    color: #d9d9d9; }
    .footer .icon-md:hover {
      color: #fff; }

.partenaires__wrapper {
  display: flex;
  justify-content: center; }
  .partenaires__wrapper ul {
    list-style: none; }
  .partenaires__wrapper li a {
    text-decoration: underline;
    color: #1a1a1a; }
    .partenaires__wrapper li a:hover {
      margin: 0;
      border: none;
      color: #fff; }

form {
  margin: 6rem auto;
  width: 30rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 2rem; }
  @media screen and (min-width: 600px) {
    form {
      width: 54rem; } }
  form div {
    margin-top: 2rem; }
    form div input {
      height: 3rem;
      width: 18rem;
      box-sizing: border-box;
      border: 1px solid #e6e6e6; }
      @media screen and (min-width: 600px) {
        form div input {
          width: 30rem; } }
      form div input:focus {
        background: #fef4f0; }
  form label {
    display: inline-block;
    width: 7.2rem;
    margin-right: 1.5rem;
    text-align: right; }
  form p {
    margin-top: 3rem; }
  form textarea {
    /* Même police pour tous les champs texte */
    font: 1em sans-serif;
    height: 5em;
    width: 18rem;
    border: 1px solid #e6e6e6;
    vertical-align: top; }
    @media screen and (min-width: 600px) {
      form textarea {
        width: 30rem; } }

.fa-chevron-up {
  font-size: 3rem;
  line-height: 12rem;
  color: #364577; }

.header {
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .header__logo {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    line-height: 9rem; }
  @media (min-width: 600px) {
    .header {
      justify-content: space-between; } }

ul {
  display: flex; }
  ul li {
    display: inline-block; }
    ul li a {
      display: block;
      padding: 2rem;
      font-size: 2rem;
      text-decoration: none; }
      ul li a:active, ul li a:hover {
        margin-top: -3px;
        text-decoration: none;
        border-top: 3px solid #f3976c; }

.highlight {
  padding: 6rem 3rem;
  background-image: url(../img/travail-de-bureau-480w.webp);
  background-size: cover;
  background-attachment: fixed; }
  @media screen and (min-width: 480px) {
    .highlight {
      background-image: url(../img/travail-de-bureau-768w.webp); } }
  @media screen and (min-width: 768px) {
    .highlight {
      background-image: url(../img/travail-de-bureau-1024w.webp); } }
  @media screen and (min-width: 1024px) {
    .highlight {
      background-image: url(../img/travail-de-bureau.webp); } }
  .highlight__wrapper {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    background: #1a1a1a;
    opacity: 0.7; }
    .highlight__wrapper h2 {
      margin-top: 0;
      color: #f3976c; }
    .highlight__wrapper p {
      font-size: 2rem;
      color: #fff; }

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto; }
  .portfolio__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .portfolio .cards {
    position: relative;
    max-width: 32.1rem;
    margin: 3rem auto;
    border-radius: 2rem;
    box-shadow: 0.275rem 0.55rem 0.55rem #e6e6e6;
    border: 1px solid #f7f7f7; }
    .portfolio .cards img {
      border-radius: 2rem 2rem 0 0; }
    .portfolio .cards h3 {
      line-height: 6rem;
      text-transform: uppercase; }
    .portfolio .cards p {
      line-height: 3rem; }
    .portfolio .cards-wrapper {
      height: 36rem; }
    .portfolio .cards p {
      font-size: 1.7142857143rem;
      margin-bottom: 2rem; }

.services {
  display: flex;
  flex-direction: column;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto; }
  .services__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media screen and (min-width: 1024px) {
      .services__wrapper {
        display: flex;
        flex-direction: row; } }
    .services__wrapper__cards {
      position: relative;
      max-width: 32.1rem;
      margin: 3rem auto;
      border-radius: 2rem;
      max-width: 27rem; }
      .services__wrapper__cards img {
        border-radius: 2rem 2rem 0 0; }
      .services__wrapper__cards h3 {
        line-height: 6rem;
        text-transform: uppercase; }
      .services__wrapper__cards p {
        line-height: 3rem; }
      .services__wrapper__cards-wrapper {
        height: 36rem; }
      .services__wrapper__cards--icon {
        font-size: 6rem;
        color: #364577; }
      .services__wrapper__cards p {
        font-size: 1.7142857143rem; }
  .services .blockquote {
    max-width: 54rem;
    margin: auto;
    padding: 2rem;
    font-size: 2rem;
    font-style: italic; }
    .services .blockquote p {
      margin-top: 2rem;
      font-size: 1.5rem; }

/*# sourceMappingURL=style.css.map */
