.cards {
  position: relative;
  max-width: $size * 5.35;
  margin: $size auto;
  border-radius: $border-rad/2;
  & img {
    border-radius: $border-rad/2 $border-rad/2 0 0;
  }
  & h3 {
    line-height: $size;
    text-transform: uppercase;
  }
  & p {
    padding: $size/3;
    line-height: $font-size;
  }
  &-wrapper {
    height: $size * 6;
  }
  & .icon-lg {
    font-size: $size;
  }
}
