// general rules

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // 10px div by def of 16px
  font-size: 62.5%;
}

body {
  font-family: "helvetica", sans-serif;
  color: darken($color-white, 70);
  background: $color-white;
  text-align: center;
}

// images

img {
  border-style: none;
  vertical-align: middle;
}

// icons

i {
  width: $size * 0.75;
}

// buttons

button {
  border: 0;
}

// forms, blockquote

blockquote,
img,
input,
textarea {
  max-width: 100%;
}

label {
  display: inline-block;
  cursor: pointer;
}
