// fonts

h1 {
  font-size: $font-size/2;
  font-weight: $font-weight;
  color: $color-primary;
  z-index: 2;
}

h2 {
  margin-top: $size;
  margin-bottom: $size/3;
}

h3 {
  font-size: $font-size/3;
}
