// fonts

h1 {
  font-size: $font-size * 0.7;
  font-weight: $font-weight + 500;
  color: $color-primary;
  z-index: 2;
}

h2 {
  margin-top: $size;
  margin-bottom: $size/3;
  padding: $size/3;
  font-size: $font-size/3;
  font-weight: $font-weight;
  @media screen and (min-width: 600px) {
    font-size: $font-size/2;
  }
}

h3 {
  font-size: $font-size/3;
}

// links

a {
  color: darken($color-secondary, 15);
}

// lists

ul {
  list-style-type: none;
}

nav ul {
  list-style: none;
  padding: 0;
}
