@mixin shadow($color: darken($color-white, 10), $offset: $shadow-size) {
  box-shadow: $offset/2 $offset $offset $color;
}

@mixin btn {
  position: relative;
  margin: $size/2 auto $size;
  padding: $size/3 $size/2;
  text-align: center;
  text-transform: uppercase;
  font-size: $font-size/3;
  font-weight: $font-weight + 200;
  background: $color-primary;
  box-shadow: $size/2 $size/2 $size * 2 darken($color-white, 50);
  border: none;
  border-radius: $border-rad;
  cursor: pointer;
  z-index: 1;
  & a {
    text-decoration: none;
    color: darken($color-secondary, 15);
  }
  & a:hover {
    color: $color-secondary;
  }
  &:hover {
    &::after {
      opacity: 1;
      border-radius: $border-rad;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: darken($color-primary, 15);
    box-shadow: $size/2 $size/2 $size darken($color-white, 75);
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
    border-radius: $border-rad;
  }
}

@mixin cards {
  position: relative;
  max-width: $size * 5.35;
  margin: $size/2 auto;
  border-radius: $border-rad/2;
  & img {
    border-radius: $border-rad/2 $border-rad/2 0 0;
  }
  & h3 {
    line-height: $size;
    text-transform: uppercase;
  }
  & p {
    line-height: $font-size/2;
  }
  &-wrapper {
    height: $size * 6;
  }
}

@mixin mobile-only {
  @media screen and (min-width: map-get($breakpoints, landscape-phones)) {
    @content;
  }
}
