/// sizes declarations (margin ,padding, font, weight)

$size: 6rem;
$font-size: 6rem;
$font-weight: 400;

/// colors declarations

$color-primary: #f3976c;
$color-secondary: #364577;
$color-white: #fff;

/// border effects

$border-rad: 4rem;

/// shadow effects

$box-shadow: $size $size $size darken($color-white, 10);
$shadow-size: 0.55rem;
$text-shadow: $size $size $size darken($color-white, 10);

/// flex

$flex: (
  display: flex,
);

/// breakpoints declarations

$breakpoints: (
  landscape-phones: 480px,
  large-phones: 600px,
  landscape-tablets: 768px,
  desktops: 992px,
  large-desktops: 1200px,
);
