.footer {
  padding: $size;
  line-height: $size;
  color: $color-white;
  background-color: darken($color-primary, 5);
  & h2 {
    margin: 0;
    font-size: $font-size/2;
  }
  & address {
    margin-bottom: $size/3;
    font-size: $font-size/3;
    line-height: $font-size/1.5;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: $size * 7;
    margin: $size/2 auto;
  }
  & .icon-md {
    font-size: $size/2;
    color: darken($color-white, 15);
    &:hover {
      color: $color-white;
    }
  }
}

.partenaires {
  & h3 {
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    & ul {
      list-style: none;
    }
    & li a {
      color: darken($color-white, 15);
      &:hover {
        margin: 0;
        border: none;
        color: $color-white;
      }
    }
  }
}
