.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $size * 16;
  margin-left: auto;
  margin-right: auto;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  & .cards {
    @include cards;
    @include shadow;
    border: 1px solid darken($color-white, 3);
    & p {
      font-size: $font-size/3.5;
      margin-bottom: $size/3;
    }
  }
}
