.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $size * 16;
  margin-left: auto;
  margin-right: auto;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  & .cards {
    @include cards;
    @include shadow;
  }
}
